* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Estilos del header*/
header {
  background-color: #e8cdcd;
  border-bottom: 2px solid rgb(224, 171, 171);
  height: 150px;
  display: grid;
  grid-template-areas: "tittle nav";
  margin-bottom: 3rem;
}
header h1 {
  grid-area: tittle;
  margin-top: 2rem;
  margin-left: 3rem;
  max-width: 200px;
  max-height: 200px;
}
header nav {
  grid-area: nav;
}

a {
  text-decoration: none;
  background-image: linear-gradient(currentColor, currentColor);
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 2px;
  transition: background-size 0.3s;
}

a:hover, a:focus {
  background-size: 100% 2px;
}

/*Estilos del main page index*/
.main-index {
  display: grid;
  grid-template-areas: "img-indexp img-indexp" "img-indexh img-indexm";
  justify-content: center;
  justify-items: center;
}

.img-indexp {
  grid-area: img-indexp;
  margin: 1rem;
  margin-top: 3rem;
}

.img-indexh {
  grid-area: img-indexh;
  margin: 1rem;
  padding: 1rem;
}

.img-indexh:hover {
  filter: grayscale(80%);
}

.img-indexm {
  grid-area: img-indexm;
  margin: 1rem;
  padding: 1rem;
}

.img-indexm:hover {
  filter: grayscale(80%);
}

section h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  font-size: 1rem;
  text-align: center;
  margin-top: 2rem;
}
section form {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  margin: 1rem;
  margin-bottom: 2rem;
}

/*Estilos page LookBook*/
.lookbook {
  display: grid;
  grid-template-areas: "texto1 fot-look1";
  margin-top: 4rem;
  margin: 2rem;
}

.texto1 {
  grid-area: texto1;
  padding: 1rem;
  font: "Roboto", sans-serif;
  text-align: justify;
  position: relative;
  top: 30%;
}

.frase-texto {
  text-align: right;
  font-weight: bold;
  font: "Roboto", sans-serif;
}

.fot-look1 {
  grid-area: fot-look1;
  width: 100%;
}

/*Estilos page Contacto*/
h2 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  margin: 2rem;
}

.main-contacto {
  margin: 20px;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  grid-area: main-contacto;
}

.formMargin {
  margin: 10px;
}

.contacto {
  display: grid;
  grid-template-areas: "main-contacto fot-form";
}

.fot-form {
  grid-area: fot-form;
  padding: 2rem;
}

/*Estilos del Footer*/
footer {
  background-color: #e8cdcd;
  border-top: 2px solid rgb(224, 171, 171);
  text-align: center;
}
footer p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  font-size: 1rem;
  margin-top: 1.5rem;
}

.textoFooter {
  font-size: 10px;
}

/*Estilos pages tienda hombre y mujer*/
.tienda {
  margin-top: 3rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  justify-items: center;
  margin: 2rem;
}

.fotoTienda {
  margin: 1rem;
}

.descripcion-prenda {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: bold;
}

/*Estilos Medidas Query*/
@media screen and (max-width: 800px) {
  header {
    height: 150px;
    display: grid;
    grid-template-areas: "tittle nav" div;
    grid-template-areas-grid-area: tittle;
    grid-template-areas-max-width: 150px;
    grid-template-areas-max-height: 150px;
  }
  header nav {
    grid-area: nav;
  }
  .main-index {
    grid-template-areas: "img-indexp" "img-indexh" "img-indexm";
    column-gap: 2.5rem;
  }
  .img-indexp {
    width: 100%;
    grid-area: img-indexp;
    margin: 1%;
    padding: 0%;
  }
  .img-indexh {
    width: 100%;
    grid-area: img-indexh;
    margin: 1%;
    padding: 0%;
  }
  .img-indexm {
    width: 100%;
    grid-area: img-indexm;
    margin: 1%;
    padding: 0%;
  }
  /*Estilos page contacto MQ 800px*/
  .contacto {
    display: grid;
    grid-template-areas: "main-contacto" "fot-form";
  }
}
@media screen and (max-width: 1240px) {
  /*Estilos pages tienda MQ 1240px*/
  .tienda {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 3rem;
    justify-content: center;
    justify-items: center;
    margin: 2rem;
  }
  .descripcion-prenda {
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    font-weight: bold;
  }
  /*Estilos page nosotros/lookbook MQ 1240px*/
  .lookbook {
    display: grid;
    grid-template-areas: "fot-look1" "texto1";
  }
  .texto1 {
    grid-area: texto1;
    padding: 1rem;
    text-align: justify;
    margin-bottom: 2rem;
    top: 0%;
  }
  .fot-look1 {
    grid-area: fot-look1;
    width: 100%;
  }
}

/*# sourceMappingURL=main.css.map */
